.signup-container form {
    margin-top: 10px;
    display: grid;
    background-color: white;
    border: 1px solid;
    padding: 0 10px;
}
    input[type="text"],input[type="password"] {
        width: 70%;
        /* padding: 0 10px; */
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 30px;
        border: none;
        border-bottom: 2px solid purple;
        
    }

    input[type="text"]:focus,input[type="password"]:focus {
        
        outline: none;
    }

    .btn-signup{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0 10px;
        height: 40px;
        background-color: purple;
        color: white;
        border: 1px solid;
        cursor: pointer;
        font-size: 20px;
       
    }

    .btn-signup:hover {
        color: purple;
        background-color: white;
    }

input[type="radio"] {
    /* margin-left: auto;
    margin-right: auto; */
    display: inline;
    margin-top: 15px;
    margin-bottom: 30px;

}



.account-container {
    /* margin-left:auto;
    margin-right: auto; */
    margin-left: 50px;
}

label {
    color:gray;
    padding: 0 10px;
}

.radio-container {
    display: flex;
    align-items: center;
}

.radio-container label {
    margin-right: 20px; /* Space between radio buttons */
}

